allow platform_app battery_service:service_manager find;
allow platform_app audioserver:dir search;
allow platform_app audioserver:file { open read getattr};
allow platform_app bluetooth:dir search;
allow platform_app bluetooth:file { open read getattr};
allow platform_app cpboot-daemon:dir search;
allow platform_app cpboot-daemon:file { open read getattr};
allow platform_app debuggerd:dir search;
allow platform_app debuggerd:file { open read getattr};
allow platform_app dex2oat:dir search;
allow platform_app dex2oat:file { getattr open read };
allow platform_app drmserver:dir search;
allow platform_app drmserver:file { open read getattr};
allow platform_app gatekeeperd:dir search;
allow platform_app gatekeeperd:file { open read getattr };
allow platform_app healthd:dir search;
allow platform_app healthd:file { open read getattr};
allow platform_app init:dir search;
allow platform_app init:file { open read getattr};
allow platform_app installd:dir search;
allow platform_app installd:file { open read getattr};
allow platform_app kernel:dir search;
allow platform_app kernel:file { getattr open read };
allow platform_app keystore:dir search;
allow platform_app keystore:file { open read getattr};
allow platform_app lmkd:dir search;
allow platform_app lmkd:file { open read getattr};
allow platform_app logd:dir search;
allow platform_app logd:file { open read getattr};
allow platform_app mediacodec:dir search;
allow platform_app mediacodec:file { open read getattr};
allow platform_app mediadrmserver:dir search;
allow platform_app mediadrmserver:file { open read getattr};
allow platform_app mediaextractor:dir search;
allow platform_app mediaextractor:file { open read getattr};
allow platform_app mediaserver:dir search;
allow platform_app mediaserver:file { open read getattr};
allow platform_app netd:dir search;
allow platform_app netd:file { open read getattr };
allow platform_app perfprofd:dir search;
allow platform_app perfprofd:file { open read getattr};
allow platform_app priv_app:dir search;
allow platform_app priv_app:file { getattr open read };
allow platform_app radio:dir search;
allow platform_app radio:file { open read getattr};
allow platform_app rild:dir search;
allow platform_app rild:file { open read getattr };
allow platform_app sdcardd:dir search;
allow platform_app sdcardd:file { open read getattr };
allow platform_app servicemanager:dir search;
allow platform_app servicemanager:file { open read getattr};
allow platform_app shell:dir search;
allow platform_app shell:file { open read getattr};
allow platform_app su:dir search;
allow platform_app su:file { open read getattr};
allow platform_app sudaemon:dir search;
allow platform_app sudaemon:file { getattr open read };
allow platform_app surfaceflinger:dir search;
allow platform_app surfaceflinger:file { open read getattr};
allow platform_app system_app:dir search;
allow platform_app system_app:file { open read getattr };
allow platform_app system_server:dir search;
allow platform_app system_server:file { open read getattr};
allow platform_app ueventd:dir search;
allow platform_app ueventd:file { open read getattr};
allow platform_app untrusted_app:dir search;
allow platform_app untrusted_app:file { getattr open read };
allow platform_app vold:dir search;
allow platform_app vold:file { open read getattr};
allow platform_app wpa:dir search;
allow platform_app wpa:file { open read getattr};
allow platform_app zygote:dir search;
allow platform_app zygote:file { open read getattr};

