allow untrusted_app audioserver:dir { getattr search };
allow untrusted_app audioserver:file { read open getattr};
allow untrusted_app bluetooth:dir { getattr search };
allow untrusted_app bluetooth:file { open read getattr };
allow untrusted_app cpboot-daemon:dir { getattr search };
allow untrusted_app cpboot-daemon:file { open read getattr };
allow untrusted_app debuggerd:dir { getattr search };
allow untrusted_app debuggerd:file { getattr open read };
allow untrusted_app drmserver:dir { getattr search };
allow untrusted_app drmserver:file { open read getattr };
allow untrusted_app gatekeeperd:dir { getattr search };
allow untrusted_app gatekeeperd:file { getattr open read };
allow untrusted_app healthd:dir { getattr search };
allow untrusted_app healthd:file { getattr open read };
allow untrusted_app init:dir { getattr search };
allow untrusted_app init:file { getattr open read };
allow untrusted_app installd:dir { getattr search };
allow untrusted_app installd:file { open read getattr };
allow untrusted_app kernel:dir { getattr search };
allow untrusted_app kernel:file { getattr open read };
allow untrusted_app keystore:dir { getattr search };
allow untrusted_app keystore:file { open read getattr};
allow untrusted_app lmkd:dir { getattr search };
allow untrusted_app lmkd:file { getattr open read };
allow untrusted_app logd:dir { getattr search };
allow untrusted_app logd:file { getattr open read };
allow untrusted_app mediacodec:dir { getattr search };
allow untrusted_app mediacodec:file { open read getattr };
allow untrusted_app mediadrmserver:dir { getattr search };
allow untrusted_app mediadrmserver:file { open read getattr};
allow untrusted_app mediaextractor:dir { getattr search };
allow untrusted_app mediaextractor:file { open read getattr};
allow untrusted_app mediaserver:dir { getattr search };
allow untrusted_app mediaserver:file { open read getattr};
allow untrusted_app netd:dir { getattr search };
allow untrusted_app netd:file { open read getattr};
allow untrusted_app perfprofd:dir { getattr search };
allow untrusted_app perfprofd:file { open read getattr };
allow untrusted_app platform_app:dir { getattr search };
allow untrusted_app platform_app:file { open read getattr };
allow untrusted_app priv_app:dir { getattr search };
allow untrusted_app priv_app:file { getattr open read };
allow untrusted_app radio:dir { getattr search };
allow untrusted_app radio:file { read getattr open };
allow untrusted_app rild:dir { getattr search };
allow untrusted_app rild:file { read getattr open };
allow untrusted_app sdcardd:dir { getattr search };
allow untrusted_app sdcardd:file { open read getattr };
allow untrusted_app servicemanager:dir { getattr search };
allow untrusted_app servicemanager:file { getattr open read };
allow untrusted_app shell:dir { getattr search };
allow untrusted_app shell:file { open read getattr };
allow untrusted_app su:dir { getattr search };
allow untrusted_app su:file { open read getattr};
allow untrusted_app sudaemon:dir { getattr search };
allow untrusted_app sudaemon:file { open read getattr };
allow untrusted_app surfaceflinger:dir { getattr search };
allow untrusted_app surfaceflinger:file { getattr open read };
allow untrusted_app sysfs:dir { open read getattr };
allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app system_app:dir { getattr search };
allow untrusted_app system_app:file { getattr open read };
allow untrusted_app system_server:dir { getattr search };
allow untrusted_app system_server:file { open read getattr };
allow untrusted_app ueventd:dir { getattr search };
allow untrusted_app ueventd:file { getattr open read };
allow untrusted_app vold:dir { getattr search };
allow untrusted_app vold:file { read getattr open };
allow untrusted_app wpa:dir { getattr search };
allow untrusted_app wpa:file { open read getattr };
allow untrusted_app zygote:dir { getattr search };
allow untrusted_app zygote:file { open read getattr };
